//COLOR PALLETE

//STATIC
$white: #fafafa;
$blue: #0065b3;
$hover-blue: #1570b5;
$light-blue: #01b3be;
$lighter-blue: #01c4d3;
$black: #666666;

//GRADIENT
$gradient: linear-gradient(
  36deg,
  rgba(118, 121, 250, 1) 0%,
  rgba(169, 166, 247, 1) 33%,
  rgba(236, 237, 255, 1) 100%
);

//BOX SHADOW
$box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
