@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,900&display=swap');

//FONT FAMILY
$primary-font: 'Nunito Sans', sans-serif;

//FONT BASED ON 16px
$text: 0.9rem; //16rem;
$secondary: 0.7rem; //14px;
$body: 1.125rem; //18rem
$primary: 1.7rem; //28px;
$h1: 2rem; //150px;
$large-title: 4.5rem;

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
