@use '../../styles/abstracts/colors';
@use '../../styles/abstracts/fonts';

.modal-bg {
  display: flex;
  align-items: start;
  align-items: center;
  justify-content: center;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.modal {
  background-color: colors.$white;
  box-shadow: colors.$box-shadow;

  padding: 1rem;
  width: 85%;
  height: 60%;
  z-index: 1;
}
