@use '../../../styles/abstracts/colors';
@use '../../../styles/abstracts/fonts';

.container-modal-delete,
.header-modal-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-modal-delete {
  padding: 8rem 0;

  .header-modal-delete {
    svg {
      height: 5rem;
    }
  }
  .footer-modal-delete {
    display: flex;
    padding: 2rem 0;
    gap: 1rem;
  }
}
